<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Calculator</title>
  <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
  <div class="calculator">
    <div class="display" id="display">0</div>

    <input type="text" id="input" placeholder="Click buttons..." />

    <button class="history-toggle" onclick="toggleHistory()">History</button>

    <div id="history">
      <button class="clear-history" onclick="clearHistory()">Clear</button>
      <div id="history-entries"></div>
    </div>



    <div class="buttons">
      <button class="btn1" onclick="append('7')">7</button>
      <button class="btn1" onclick="append('8')">8</button>
      <button class="btn1" onclick="append('9')">9</button>
      <button class="btn clear" onclick="clearDisplay()">C</button>



      <button class="btn1" onclick="append('4')">4</button>
      <button class="btn1" onclick="append('5')">5</button>
      <button class="btn1" onclick="append('6')">6</button>
      <button class="btn operator" onclick="append('*')">x</button>

      <button class="btn1" onclick="append('1')">1</button>
      <button class="btn1" onclick="append('2')">2</button>
      <button class="btn1" onclick="append('3')">3</button>
      <button class="btn operator" onclick="append('-')">-</button>

      <button class="btn1" onclick="append('0')">0</button>
      <button class="btn1" onclick="append('.')">.</button>
      <button class="btn operator" onclick="append('/')">÷</button>
      <button class="btn operator" onclick="append('+')">+</button>

      <button class="btn1" onclick="append('(')">(</button>
      <button class="btn1" onclick="append(')')">)</button>
      <button class="btn equal" onclick="calculate()">=</button>
      <button class="btn delete" onclick="deleteLast()">⌫</button>


    </div>
  </div>

  <script src="../js/bascal.js"></script>
</body>

</html>